<%= render "shared/header" %>

<div id="map"></div>
<ul>
  <li>lat: <span id="lat"></span></li>
  <li>lng: <span id="lng"></span></li>
</ul>
<button id="select">お店を設定する</button>
<button id="entry"></button>