* {
  box-sizing: border-box;
}

.top-page-header {
  background-color: #333333;
  width: 100vw;
  padding: 2vh 10vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
}

.title-name {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.nav {
  width: 100%;
}

.lists-right {
  display: flex;
  justify-content: flex-end;
}

.insta-login {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-right: 2vw;
  border: 1px white solid;
  border-radius: 3px;
  padding: 0.4em 1.6em;
}

.shop-name {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-right: 2vw;
  border: 1px white solid;
  border-radius: 3px;
  padding: 0.4em 1.6em;
}

.shop-register {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-right: 2vw;
  border: 1px white solid;
  border-radius: 3px;
  padding: 0.4em 1.6em;
}

.shop-edit {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-right: 2vw;
  border: 1px white solid;
  border-radius: 3px;
  padding: 0.4em 1.6em;
}

.logout {
  list-style: none;
  text-decoration: none;
  color: white;
  border: 1px white solid;
  border-radius: 3px;
  padding: 0.4em 1.6em;
}

.login {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-right: 2vw;
  border: 1px white solid;
  border-radius: 3px;
  padding: 0.4em 1.6em;
}

.sign-up {
  list-style: none;
  text-decoration: none;
  color: white;
  border: 1px white solid;
  border-radius: 3px;
  padding: 0.4em 1.6em;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .top-page-header {
    background-color: #333333;
    width: 100vw;
    padding: 2vh 7vw;
  }
  .title-name {
    font-size:25px;
  }

  .insta-login {
    font-size: 10px;
    margin-right: 1vw;
  }

  .shop-name {
    font-size: 10px;
    margin-right: 1vw;
  }

  .shop-register {
    font-size: 10px;
    margin-right: 1vw;
  }

  .shop-edit {
    font-size: 10px;
    margin-right: 1vw;
  }

  .logout {
    font-size: 10px;
  }

  .login {
    font-size: 10px;
    margin-right: 1vw;
  }

  .sign-up {
    font-size: 10px;
  }
}

/* スマホ表示 */
@media (max-width: 599px) {
  .top-page-header {
    background-color: #333333;
    width: 100vw;
    padding: 2vh 2vw;
  }
  .title-name {
    font-size:15px;
  }

  .insta-login {
    font-size: 0.3px;
    margin-right: 1vw;
  }

  .shop-name {
    font-size: 0.3px;
    margin-right: 1vw;
  }

  .shop-register {
    font-size: 0.3px;
    margin-right: 1vw;
  }

  .shop-edit {
    font-size: 0.3px;
    margin-right: 1vw;
  }

  .logout {
    font-size: 0.3px;
  }

  .login {
    font-size: 0.3px;
    margin-right: 1vw;
  }

  .sign-up {
    font-size: 0.3px;
  }
}