* {
  box-sizing: border-box;
}

.top-page-header {
  background-color: #333333;
  width: 100vw;
  padding: 2vh 10vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
}

.title-name {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.nav {
}

.lists-right {
  display: flex;
  justify-content: flex-end;
}

.shop-name {
  text-decoration: none;
  color: white;
  margin-right: 5vw;
}

.insta-login {
  text-decoration: none;
  color: white;
}

.shop-name-title {
  margin-right: 5vw;
}

.shop-register {
  text-decoration: none;
  color: white;
  margin-right: 2vw;
}

.logout {
  text-decoration: none;
  color: white;
}

.login {
  text-decoration: none;
  color: white;
  margin-right: 2vw;
}

.sign-up {
  text-decoration: none;
  color: white;
}